<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
                                http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:property-placeholder location="classpath:jdbc.properties"/>
    <context:component-scan base-package="springTest01"></context:component-scan>
    <bean id="User" class="springTest01.pojo.User" scope="prototype"/>
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.userName}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean id="userDao" class="springTest01.Dao.Impl.UserDaoImpl"> </bean>
    <bean id="userService" class="springTest01.service.Impl.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>




    <!-- aop here-->
    <bean id="Target" class="springTest03.dao.Impl.targetInterfaceImpl"></bean>
    <bean id="Advice01" class="springTest03.advice.advice01"></bean>
    <aop:config>
        <aop:pointcut id="AdviceTest01" expression="execution(public void springTest03.dao.TargetInterface.save())"/>
        <aop:aspect ref="Advice01">
            <aop:before method="beforeAdvice" pointcut-ref="AdviceTest01"></aop:before>
            <aop:after-returning method="afterReturning" pointcut-ref="AdviceTest01"></aop:after-returning>
            <aop:after method="after" pointcut-ref="AdviceTest01"></aop:after>
            <aop:around method="around" pointcut-ref="AdviceTest01"></aop:around>
            <aop:after-throwing method="Throwing" pointcut-ref="AdviceTest01"></aop:after-throwing>

        </aop:aspect>


    </aop:config>



</beans>